<h2>Blog Post<%= @blog_post.id %></h2>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Name</th>
    <th>Email</th>
    <th>Button</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @blog_post.title %></td>
      <td><%= @blog_post.content %></td>
      <td><%= @blog_post.user.name %></td>
      <td><%= @blog_post.user.email %></td>
      <td><%= link_to 'Edit', edit_blog_post_path if user_signed_in? && @blog_post.user == current_user %></td>
      <td><% button_to 'Delete', blog_post_path, method: :delete  if user_signed_in? && @blog_post.user == current_user %></td>
    </tr>
  </tbody>
</table>