<h2>Blog Post<%= @blog_post.id %></h2>
<table>
  <thead>
  <%= link_to 'Home', blog_posts_path %>
  <%= link_to 'Back', :back %>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Name</th>
    <th>Email</th>
    <th>Feedback</th>
    <th>Button</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @blog_post.title %></td>
      <td><%= @blog_post.content %></td>
      <td><%= @blog_post.user.name %></td>
      <td><%= @blog_post.user.email %></td>
      <td>
        <%= link_to 'New', new_blog_post_feedback_path(@blog_post) if user_signed_in? %>
        <%= link_to 'Feedbacks', blog_post_feedbacks_path(@blog_post) if @blog_post.feedbacks.present?%>
      </td>
      <td>
        <%= link_to 'Edit', edit_blog_post_path if user_signed_in? && @blog_post.user == current_user %>
        <% button_to 'Delete', blog_post_path, method: :delete  if user_signed_in? && @blog_post.user == current_user %>
      </td>
    </tr>
  </tbody>
</table>